In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
import pickle
import numpy as np
import sklearn

In [9]:
print("numpy",np.__version__)
print("pandas",pd.__version__)
print("sklearn",sklearn.__version__)

numpy 1.25.2
pandas 2.0.3
sklearn 1.2.2

In [3]:
df = pd.read_csv("placement-dataset.csv")

In [4]:
df.head()

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0

In [5]:
df.describe()

       Unnamed: 0        cgpa          iq   placement
count  100.000000  100.000000  100.000000  100.000000
mean    49.500000    5.991000  123.580000    0.500000
std     29.011492    1.143634   39.944198    0.502519
min      0.000000    3.300000   37.000000    0.000000
25%     24.750000    5.075000  101.500000    0.000000
50%     49.500000    6.000000  127.500000    0.500000
75%     74.250000    6.900000  149.000000    1.000000
max     99.000000    8.500000  233.000000    1.000000

In [11]:
df = df.drop(columns=['Unnamed: 0'])

In [12]:
df.head()

   cgpa     iq  placement
0   6.8  123.0          1
1   5.9  106.0          0
2   5.3  121.0          0
3   7.4  132.0          1
4   5.8  142.0          0

In [16]:
X= df.drop('placement',axis=1)
y = df['placement']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size =0.2,random_state =42)

In [19]:
param_grid ={
    'n_estimators':[100,200,300],
    'max_depth':[None,10,20,30],
    'min_samples_split':[2,5,7,10],
    'min_samples_leaf':[1,2,3,4]
}

In [20]:
rf = RandomForestClassifier(random_state =42)

grid_search = GridSearchCV(estimator=rf,param_grid=param_grid,cv=5,n_jobs=-1,verbose = 2)
grid_search.fit(X_train,y_train)

best_rf = grid_search.best_estimator_

Fitting 5 folds for each of 192 candidates, totalling 960 fits

In [21]:
y_pred = best_rf.predict(X_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.83      1.00      0.91        10
           1       1.00      0.80      0.89        10

    accuracy                           0.90        20
   macro avg       0.92      0.90      0.90        20
weighted avg       0.92      0.90      0.90        20

In [23]:
with open('model.pkl','wb') as pfile:
    pickle.dump(best_rf,pfile)